version: '3.8'

services:
  app:
    build: .
    container_name: digital_support_bot
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - POSTGRES_HOST=host.docker.internal
